<h3>create a transaction category</h3>

<ul>
  <% @transaction_category.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<%= form_with model: @transaction_category do |form| %>
  <%= form.text_field(:name, { placeholder: "name" }) %>
  <%= form.text_field :description, placeholder: "description" %>
  <%= form.submit %>
<% end %>