<!DOCTYPE html>
<html>
  <head>
    <title>PFWA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>
  <body class="bg-bgColor relative font-body overflow-x-hidden w-[425px] mx-auto min-h-screen h-full">
    <div>
      <% if user_signed_in? %>
        <%= yield :header %>
        <%= yield :navbar %>
      <% elsif request.path != login_path %>
        <%= link_to 'Login', login_path %>
      <% end %>
    </div>
    <%= yield %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </body>
</html>
